<div style="margin-top: 20px;">
  <app-image-rotator></app-image-rotator>
</div>
<div class="about-section">
  <h2>Acerca de</h2>
  <p>
    Bienvenido a nuestra aplicación de Supermercados. Esta aplicación ha sido desarrollada para proporcionar una plataforma completa
    que incluye un dashboard con autenticación (registro e inicio de sesión), y un sistema CRUD para la gestión de Supermercados.
  </p>
  <p>
    Nuestro objetivo es facilitar la gestión eficiente de los datos de supermercados, permitiendo a los usuarios crear, leer, actualizar y eliminar
    información de manera segura y rápida. La autenticación asegura que solo los usuarios autorizados puedan acceder a ciertas funcionalidades,
    manteniendo así la integridad y seguridad de la información.
  </p>
</div>
